* {
   margin: 0;
   padding: 0;
}

body {
   margin: 16px auto;
   width: 768px;
}

h1 {
   text-align: center;
   margin-bottom: 8px;
}

img {
   float: left;
   width: 150px;
   margin: 3px 12px 0 0;
}

p {
   margin: 20px 0;
}

q {
   float: left;
   width: 240px;
   font-style: italic;
   font-size: 28px;
   margin: 12px 0 0 -100px;
}
