body {
   margin: auto;
   width: 800px;
}

span {
   position: relative;
}

span:nth-child(1) {
   color: green;
   background-color: green;
   z-index: auto;
}

span:nth-child(2) {
   color: pink;
   background-color: pink;
   top: -27px;
   left: 0;
   z-index: auto;
}

span:nth-child(3) {
   color: rebeccapurple;
   background-color: rebeccapurple;
   top: -32px;
   left: 37px;
   z-index: auto;
}
